In [1]:
import random
# from hdflogv2 import HDFSLogv2
from hdflogv3 import HDFSLogv3
import tensorflow as tf
import numpy as np
import pandas as pd
from keras.preprocessing.sequence import pad_sequences
import pickle
from keras.preprocessing.sequence import pad_sequences

In [2]:

hlog_meta_176_32 = HDFSLogv3(train_ratio=0.8, padded_char_len=176, padded_seq_len=32,
                hdfs_rm_time_stamp=False, hdfs_rm_ip_address=False, debug=True )

In [3]:
%%time
labelled_num_seq_df = hlog_meta_176_32.get_labelled_num_seq_df()

total number of lines in the log file: 11175629
RAM usage:  100232088
ending logs in memory: 4.938360214233398
loaded cleaned logs with blk_id  in memory: 206.28968930244446
RAM usage:  100232088
loaded cleaned logs without blkid in memory: 0.5526354312896729
RAM usage:  100232088
starting training the tokenizer:
ending tokenizer training: 327.1431031227112
RAM usage:  48
vocabulary size: 42
starting text to number conversion
completed:  0
time : 0.0
completed:  1000000
time : 17.007117986679077
completed:  2000000
time : 33.574119567871094
completed:  3000000
time : 50.18071413040161
completed:  4000000
time : 67.24189925193787
completed:  5000000
time : 83.79925966262817
completed:  6000000
time : 100.64925503730774
completed:  7000000
time : 117.7235643863678
completed:  8000000
time : 134.6217701435089
completed:  9000000
time : 151.61578941345215
completed:  10000000
time : 168.4396996498108
completed:  11000000
time : 185.56494426727295
ending text to number conversion: 188.46091151237488
RAM usage:  100232088
ending num_sequence_by_blkid conversion: 530.600668668747
RAM usage:  20971608
ending labelled_num_seq_df conversion: 543.0252442359924
RAM usage:  163553055
CPU times: total: 9min 3s
Wall time: 9min 3s

In [4]:
labelled_num_seq_df.head()

,BlockId,label,seq
0,blk_-1000002529962039464,hdfs_normal,"[[3, 14, 2, 2, 2, 2, 3, 28, 20, 20, 11, 6, 6, ..."
1,blk_-100000266894974466,hdfs_normal,"[[3, 14, 2, 2, 2, 3, 3, 6, 3, 2, 3, 22, 21, 2,..."
2,blk_-1000007292892887521,hdfs_normal,"[[3, 14, 2, 2, 2, 2, 3, 28, 20, 27, 2, 11, 6, ..."
3,blk_-1000014584150379967,hdfs_normal,"[[3, 14, 2, 2, 2, 3, 3, 2, 11, 2, 2, 27, 11, 1..."
4,blk_-1000028658773048709,hdfs_normal,"[[3, 14, 2, 2, 2, 3, 6, 6, 2, 20, 21, 2, 2, 11..."

In [38]:
pos_df = labelled_num_seq_df[labelled_num_seq_df.label == 'hdfs_anomaly']
print(len(pos_df))
neg_df = labelled_num_seq_df[labelled_num_seq_df.label == 'hdfs_normal']
neg_df_eq_pos_df = neg_df[:len(pos_df)]
len(neg_df_eq_pos_df)
eq_neg_pos_df = pd.concat([pos_df, neg_df_eq_pos_df])
print(eq_neg_pos_df.head())
print(eq_neg_pos_df.shape)

16838
                                                   seq         label
33   [[3, 14, 2, 2, 2, 2, 3, 14, 2, 27, 2, 20, 6, 2...  hdfs_anomaly
53   [[3, 14, 2, 2, 3, 28, 6, 2, 2, 22, 11, 27, 2, ...  hdfs_anomaly
304  [[3, 14, 2, 2, 2, 3, 3, 2, 2, 20, 6, 20, 11, 6...  hdfs_anomaly
305  [[3, 14, 2, 2, 2, 3, 3, 3, 6, 14, 3, 22, 21, 2...  hdfs_anomaly
383  [[3, 14, 2, 2, 2, 3, 6, 6, 21, 14, 11, 6, 2, 2...  hdfs_anomaly
(33676, 2)

In [20]:
labelled_num_seq_df.seq[0]

array([[ 3, 14,  2, ...,  0,  0,  0],
       [ 3, 14,  2, ...,  0,  0,  0],
       [ 3, 14,  2, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0]])

In [21]:
len(labelled_num_seq_df.seq[0])

32

In [22]:
labelled_num_seq_df = labelled_num_seq_df[['seq', 'label']]

In [23]:
labelled_num_seq_df.head()

                                                 seq        label
0  [[3, 14, 2, 2, 2, 2, 3, 28, 20, 20, 11, 6, 6, ...  hdfs_normal
1  [[3, 14, 2, 2, 2, 3, 3, 6, 3, 2, 3, 22, 21, 2,...  hdfs_normal
2  [[3, 14, 2, 2, 2, 2, 3, 28, 20, 27, 2, 11, 6, ...  hdfs_normal
3  [[3, 14, 2, 2, 2, 3, 3, 2, 11, 2, 2, 27, 11, 1...  hdfs_normal
4  [[3, 14, 2, 2, 2, 3, 6, 6, 2, 20, 21, 2, 2, 11...  hdfs_normal

In [7]:

# padded_seq = pad_sequences( labelled_num_seq_df.seq,  maxlen=32, 
#                                               padding='post', truncating='pre')

In [8]:
# padded_seq.shape

In [9]:
# padded_seq[0]

In [10]:
# labelled_num_seq_df['seq1'] = padded_seq
# labelled_num_seq_df.seq1.shape

In [11]:
# labelled_num_seq_df.head()

In [12]:
# newdf = labelled_num_seq_df.copy()

In [13]:
# len(padded_seq)

In [14]:
# len(newdf.seq)

In [15]:
# nndf = newdf.drop(columns=['seq'], inplace=True)

In [16]:
# nndf['seq'] = padded_seq

In [17]:
# nndf = nndf.drop(columns=['seq'])

In [18]:
# nndf.head()

In [19]:
s = pd.Series(list(padded_seq))

NameError: name 'padded_seq' is not defined

In [ ]:
# s.shape

In [ ]:
# nndf['seq'] = s

In [ ]:
nndf.seq

In [ ]:
# nndf.seq.shape

In [ ]:
# nndf.seq[0]

In [ ]:
# len(nndf.seq[0])